.container{
    font-family: myriad-pro, sans-serif;
}

#logo{
    position: relative;
    width: 33%;
    padding: 5%;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #5C006B;
    
}

.flex-container{
    border-radius: 65px;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #5C006B;
}


#basic-text1{
    background-color: white;
    color: darkgray;
    border-right-color: white;
}

.form-control{
    border-left-color: white;
}

#menu{
    width:24px;
    height: 24px;
}


.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#logo-central{
    margin: 12px;
}

#img-product{
    width: 330px;
    height: 280px;
    margin: 12px;
}

.Loading{
    margin: 0px;
    padding: 0pc;
    background-color: #5C006B;;
}


.btn{
}

.Compra-Concluida{
    background: #FAFAFA;
}

btn{

    border-radius: 5px;
    justify-content: center;
    align-items: center;
    
}

#nome-produto{
    font-family: myriad-pro, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: rgba(60, 60, 67, 0.6);
    letter-spacing: -0.408px;
}

#categoria{
    font-family: myriad-pro, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 5px;
    color: #B9B9B9;
}

#descricao{
    font-family: myriad-pro, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #616161;

}


/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
   
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
   
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    .form_mobile{
        width: 80%;
    }

    .search{
        margin-left: 10px;
    }
  
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    .form_mobile{
        width: 80%;
    }

    .search{
        margin-left: 10px;
    }
  
    
  }

.texto-compra{
    margin-top: 20px;
    font-family: Myriad Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 10px;
    color: #B9B9B9;
}

.texto-compra-produto{
    font-family: Myriad Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: rgba(60, 60, 67, 0.6);
    
    
}

.detalhes-container{
    background-color: white;
    border-radius: 15px;
    padding-left:0px;
    padding-right: 0px;
    width: 90%;
    justify-content: center;
    
}

#details{
    font-family: Myriad Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #5C006B;
}

.labels{
    font-family: Myriad Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #B9B9B9;
}

.labels-values{
    font-family: Myriad Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
    color: #777777;
}

